<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.ClassOrderMapper">
    <select id="getAllOrders" resultType="com.gym.entity.ClassOrder">
        SELECT * FROM class_order
    </select>

    <select id="getOrderById" resultType="com.gym.entity.ClassOrder">
        SELECT * FROM class_order WHERE class_order_id = #{classOrderId}
    </select>

    <select id="getOrdersByMemberAccount" resultType="com.gym.entity.ClassOrder">
        SELECT * FROM class_order WHERE member_account = #{memberAccount}
    </select>

    <insert id="addOrder" parameterType="com.gym.entity.ClassOrder">
        INSERT INTO class_order (class_id, coach, member_name, member_account, class_begin)
        VALUES (#{classId}, #{coach}, #{memberName}, #{memberAccount}, #{classBegin})
    </insert>

    <update id="updateOrder" parameterType="com.gym.entity.ClassOrder">
        UPDATE class_order SET
        class_id = #{classId},
        coach = #{coach},
        member_name = #{memberName},
        member_account = #{memberAccount},
        class_begin = #{classBegin}
        WHERE class_order_id = #{classOrderId}
    </update>

    <delete id="deleteOrder">
        DELETE FROM class_order WHERE class_order_id = #{classOrderId}
    </delete>
</mapper>
