<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.EmployeeMapper">
    <select id="getAllEmployees" resultType="com.gym.entity.Employee">
        SELECT * FROM employee
    </select>

    <select id="getEmployeeByAccount" resultType="com.gym.entity.Employee">
        SELECT * FROM employee WHERE employee_account = #{employeeAccount}
    </select>

    <select id="getEmployeeByName" resultType="com.gym.entity.Employee">
        SELECT * FROM employee WHERE employee_name = #{employeeName} LIMIT 1
    </select>

    <select id="getEmployeesByStaff" resultType="com.gym.entity.Employee">
        SELECT * FROM employee WHERE staff = #{staff}
    </select>

    <insert id="addEmployee" parameterType="com.gym.entity.Employee">
        INSERT INTO employee (employee_account, employee_name, avatar, employee_gender, employee_age, specialty, certificate, intro, entry_time, staff, employee_message, employee_password)
        VALUES (#{employeeAccount}, #{employeeName}, #{avatar}, #{employeeGender}, #{employeeAge}, #{specialty}, #{certificate}, #{intro}, #{entryTime}, #{staff}, #{employeeMessage}, #{employeePassword})
    </insert>

    <update id="updateEmployee" parameterType="com.gym.entity.Employee">
        UPDATE employee
        <set>
            <if test="employeeName != null">employee_name = #{employeeName},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="employeeGender != null">employee_gender = #{employeeGender},</if>
            <if test="employeeAge != null">employee_age = #{employeeAge},</if>
            <if test="specialty != null">specialty = #{specialty},</if>
            <if test="certificate != null">certificate = #{certificate},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="entryTime != null">entry_time = #{entryTime},</if>
            <if test="staff != null">staff = #{staff},</if>
            <if test="employeeMessage != null">employee_message = #{employeeMessage},</if>
            <if test="employeePassword != null">employee_password = #{employeePassword},</if>
        </set>
        WHERE employee_account = #{employeeAccount}
    </update>

    <delete id="deleteEmployee">
        DELETE FROM employee WHERE employee_account = #{employeeAccount}
    </delete>
</mapper>
