<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.mapper.EmployeeMapper">
    <select id="getAllEmployees" resultType="com.gym.entity.Employee">
        SELECT * FROM employee
    </select>

    <select id="getEmployeeByAccount" resultType="com.gym.entity.Employee">
        SELECT * FROM employee WHERE employee_account = #{employeeAccount}
    </select>

    <insert id="addEmployee" parameterType="com.gym.entity.Employee">
        INSERT INTO employee (employee_account, employee_name, employee_gender, employee_age, entry_time, staff, employee_message, employee_password)
        VALUES (#{employeeAccount}, #{employeeName}, #{employeeGender}, #{employeeAge}, #{entryTime}, #{staff}, #{employeeMessage}, #{employeePassword})
    </insert>

    <update id="updateEmployee" parameterType="com.gym.entity.Employee">
        UPDATE employee SET
        employee_name = #{employeeName},
        employee_gender = #{employeeGender},
        employee_age = #{employeeAge},
        entry_time = #{entryTime},
        staff = #{staff},
        employee_message = #{employeeMessage},
        employee_password = #{employeePassword}
        WHERE employee_account = #{employeeAccount}
    </update>

    <delete id="deleteEmployee">
        DELETE FROM employee WHERE employee_account = #{employeeAccount}
    </delete>
</mapper>
